{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}
<link href="{% static 'css/fullCalendar.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/fullCalendar.min.js' %}"></script>
<script src="{% static 'js/fullCalendar-es.js' %}"></script>

{% endblock %}
<!--Titulo-->
{% block titulo %} Agenda {% endblock %}
{% block content %}
<div class="container pt-2">
  <div class="row">
    <div id='calendar'></div>
  </div>
  <div class="text-center pt-3">
    <a class="btn btnCustom1 w-0 my-1" data-bs-toggle="modal" data-bs-target="#modal_agregar_cita">Ageragr Cita</a>
  </div>
</div>

<!--Modal Agregar Cita-->
<div class="modal fade" id="modal_agregar_cita" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario para agregar Cita -->
        <form action="" id="form_cita">
          <div class="row">
            <!--Cliente-->
            <div class="col-md-12 col-lg-6">
              <div class="mb-3 mt-3">
                <label for="cliente" class="form-label">Cliente</label>

                <div id="emailHelp" class="form-text"></div>
              </div>
            </div>
            <!--Proceso-->
            <div class="col-md-12 col-lg-6">
              <div class="mb-3 mt-3">
                <label for="proceso" class="form-label">Proceso</label>

                <div id="emailHelp" class="form-text"></div>
              </div>
            </div>
            <!--Fecha-->
            <div class="col-md-12 col-lg-6">
              <div class="mb-3 mt-3">
                <label for="fecha_inicio" class="form-label">Fecha</label>

                <div id="emailHelp" class="form-text"></div>
              </div>
            </div>  
            <!--Hora-->
            <div class="col-md-12 col-lg-6">
              <div class="mb-3 mt-3">
                <label for="hora_inicio" class="form-label">Hora</label>

                <div id="emailHelp" class="form-text"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="spinner-border text-primary" role="status" id="load">
          <span class="visually-hidden">Loading...</span>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btnCustom2" id="btn_agregar_cita">Agregar Cita</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--Js de la vista-->
{% block js %}
<script src="{% static 'js/sistemaClinico.js' %}"></script>

<script>
    $( "#side_agenda" ).addClass( "active" );

</script>
<script>
    
    //Recueprndo Fecha Actual
    const hoy = new Date();
    function formatoFecha(fecha, formato) {
    }
    formatoFecha(hoy, 'yy/mm/dd');

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
  
      var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'es',
        //Colocando boton personalizado
        customButtons: {
          agregar_cita: {
            text: 'Agregar cita',
            click: function() {
              $("#modal_agregar_cita").modal("show");
            }
          },
          //Boton para actualizar calendario
          actualizar:{
            text: 'Actualizar',
            click:function(){
              calendar.refetchEvents()
            }

          }
        },
        headerToolbar: {
          left: 'prev,next agregar_cita actualizar',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,listDay,listWeek'
        },
        initialDate: hoy,
        initialView: 'dayGridMonth',
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,

        views: {
        listDay: { buttonText: 'Citas del día' },
        listWeek: { buttonText: 'Citas de la semana' },
        listMonth: { buttonText: 'list month' }
        },

        eventSources: [
          // your event source
          {
            url: "{% url 'get-citas-consulta' %}",
            method: 'GET',
            extraParams: {
              custom_param1: 'something',
              custom_param2: 'somethingelse'
            },
            failure: function() {
              alert('there was an error while fetching events!');
            },
            color: 'yellow',   // a non-ajax option
            textColor: 'black' // a non-ajax option
          }

          // any other sources...

        ]
      });
      
      calendar.addEvent({
            title: 'Business Lunch II',
            start: '2022-07-05T13:00:00',
            constraint: 'businessHours'
          })
      calendar.render();

      //socket
      let ws_scheme=window.location.protocol=='https:'?"wss":"ws";
      let socket_url=`${ws_scheme}://${window.location.host}/ws/calendario/update/`;
      const calendarioUpdateSocket=new WebSocket(socket_url);
      calendarioUpdateSocket.onmessage=(message)=>{
        //Actualizando Calendario
        calendar.refetchEvents()
      }
    });

</script>
{% endblock %}
