{% extends "baseControl.html" %}
{% load static %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Consulta {% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="fw-bold text-secondary">Consulta</h1>

    <div class="row">
        <!--Datos del paciente-->
        <div class="col-md-12 col-lg-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Datos del Paciente</h5>
                    <hr class="dropdown-divider">
                    <div class="row">
                        <div class="col-6">
                            <div class="pt-2">
                                <p>Nombre: </p>
                                <p>Apellido: </p>
                                <p>Edad: </p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>        
        </div>
        <!--Signos Vitales-->
        <div class="col-md-12 col-lg-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Signos Vitales</h5>
                    <hr class="dropdown-divider">
                    <div class="row">
                        <div class="col-6">
                            <div class="pt-2">
                                <p>Temperatura: </p>
                                <p>Frecuencia Cardica: </p>
                                <p>Peso: </p>
                                <p>Presión Arterial: </p>
                                <p>Saturación Oxigeno: </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pt-2">
                                <p>Temperatura: </p>
                                <p>Frecuencia Cardica: </p>
                                <p>Peso: </p>
                                <p>Presión Arterial: </p>
                                <p>Saturación Oxigeno: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <!--Datos Consulta-->
        <div class="col-12 py-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Datos de Consulta</h5>
                    <hr class="dropdown-divider">
                  <div class="pt-2">
                    <label for="txt_sintomas" class="form-label">Sintomas</label>
                    <textarea class="form-control" id="txt_sintomas" rows="3"></textarea>
                  </div>
                  <div class="pt-2">
                    <label for="txt_diagnostico" class="form-label">Diagnostico</label>
                    <textarea class="form-control" id="txt_diagnostico" rows="3"></textarea>
                  </div>
                </div>
            </div>  
        </div>
        <!--Botones-->
        <div class="col-4">
        </div>
        <div class="col-8 text-end">
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            medication_liquid
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Referencia Medica
                    </div>
                </div>
            </button>
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            emergency
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Referencia Medica
                    </div>
                </div>
            </button>
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            biotech
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Orden de Examen
                    </div>
                </div>
            </button>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}

