{% extends "baseControl.html" %}
{% load static %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Consulta {% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="fw-bold text-secondary">Consulta</h1>

    <div class="row">
        <!--Datos del paciente-->
        <div class="col-md-12 col-lg-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Datos del Paciente</h5>
                    <p>Nombre: </p>
                    <p>Apellido: </p>
                    <p>Edad: </p>
                </div>
              </div>        
        </div>
        <!--Signos Vitales-->
        <div class="col-md-12 col-lg-6 py-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Signos Vitales</h5>
                    <div class="row">
                        <div class="col-6">
                            <div class="">
                                <p>Temperatura: </p>
                                <p>Frecuencia Cardica: </p>
                                <p>Peso: </p>
                                <p>Presión Arterial: </p>
                                <p>Saturación Oxigeno: </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <p>Temperatura: </p>
                                <p>Frecuencia Cardica: </p>
                                <p>Peso: </p>
                                <p>Presión Arterial: </p>
                                <p>Saturación Oxigeno: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {{paciente.nombre_paciente}}
        {{paciente.apellido_paciente}}
        {{ paciente.fecha_nacimiento_paciente.year }}
        {{signos_vitales.valor_temperatura}}
        <!--Datos Consulta-->
        <div class="col-12 py-4">
            <div class="card">
                <div class="card-body">
                  Datos de consulta
                </div>
            <div>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        
                        {{consulta_form.diagnostico.errors}}
                        <label for="{{ consulta_form.sintoma.id_for_label }}">Sintomas</label>
                            <textarea name="{{consulta_form.sintoma.name}}" id="{{consulta_form.sintoma.id_for_label}}" style="width:100%;" rows="10">{{consulta_form.diagnostico.value}}</textarea>
                        </div>
                        <div>
                            {{consulta_form.sintoma.errors}}
                            <label for="{{ consulta_form.diagnostico.id_for_label }}">Diagnostico</label>
                            <textarea name="{{consulta_form.diagnostico.name}}" id="{{consulta_form.diagnostico.id_for_label}}" style="width:100%;"rows="10">{{consulta_form.sintoma.value}}</textarea>
                        </div>
                        <input type="submit" value="Guardar">
                </form>
                
            </div>
            </div>  
        </div>
        <!--Botones-->
        <div class="col-4">
        </div>
        <div class="col-8 text-end">
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            medication_liquid
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Referencia Medica
                    </div>
                </div>
            </button>
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            emergency
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Referencia Medica
                    </div>
                </div>
            </button>
            <button class="btn btn-outline-secondary w-0 my-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <span class="material-symbols-outlined g-0 w-0">
                            biotech
                        </span>
                    </div>
                    <div class="col-10 text-center">
                        Orden de Examen
                    </div>
                </div>
            </button>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}

