{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Sala de Espera {% endblock %}
{% block content %}
<div class="container py-4 ">
    <h1 class="fw-bold">Sala de Espera</h1>
    <div class="row">
      <div class="col-12 col-md-12">
          <!--Busqueda por Apellidos-->
          {% if rol == ROL_SECRETARIA %}
          <div class="input-group  py-4">
              <span class="input-group-text bg-white" id="basic-addon1">
                <span class="material-symbols-outlined btn-sm" id="search_voff">face</span>
              </span>
              <input type="text" class="form-control" id="id_apellido_paciente" placeholder="Apellidos" aria-label="Nombres" aria-describedby="basic-addon1">
              <span class="input-group-text bg-white" id="filtro_buscar">
                <span class="material-symbols-outlined btn btn-sm" id="" data-bs-toggle="modal" data-bs-target="#busquedaPacienteModal">search</span>
              </span>
          </div>
          {% endif %}
      </div>
      <!--Tarjetas de pacientes-->
      
      
      <!--Boton abregar nuevo -->
      {% if rol == ROL_SECRETARIA  %}
      <div class="text-end">
        <a href="{% url 'crear_expediente'%}" class="btn btn-outline-dark" id="buscar-nombre" >Abrir Expediente Nuevo</a>
      </div>
      {% endif %}
      
      <!--Boton agregar Signos vitales v1 -->
      <div class="text-end">
        <a class="btn btn-outline-dark" id="buscar-nombre" data-bs-toggle="modal" data-bs-target="#agregarSignosVitalesModal">Abrir Expediente Nuevo</a>
      </div>

      <!--Navegación Entre Consultas y Examenes de Laboratorio-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Consulta Medica</button>  
        </li>
        {% if rol == ROL_SECRETARIA  %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Examenes de Laboratorio</button>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content border" id="myTabContent">
        <div class="tab-pane fade show active" id="consultaMedica" role="tabpanel" aria-labelledby="home-tab">
          <!--Tabla de pacientes en cola-->
          <div class="py-4 table-responsive">
            <table class="table table-bordered text-center">
                <thead class="table-secondary">
                  <tr>
                    
                    {% if rol == ROL_ENFERMERA or rol == ROL_SECRETARIA %}
                    <th scope="col">Numero Cola</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <!-- ROL_ENFERMERA=2 -->
                    {% endif %}
                    {% if rol == ROL_SECRETARIA %}
                    <th scope="col">Fase</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Estado</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="tabla_cola">
                  
                </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>


      <!--Modal Datos del Paciente-->
      <div class="modal fade" id="busquedaPacienteModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Paciente a Cola</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!--Tabla de pacientes buscados-->
                <div class="table-responsive" id="tabla_busqueda">
                  <table class="table table-bordered text-center">
                    <thead class="table-secondary">
                      <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Fecha Nacimiento</td>
                          <th>Sexo</th>
                          <th>Direccion</th>
                          <th>Email</th>
                          <th>Responsable</th>
                          <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody  id="datos_pacientes">
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>

      <!-- Modal Signos Vitales -->
      <div class="modal fade" id="agregarSignosVitalesModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header text-center bg-dark text-white">
                <h5 class="modal-title w-100">Agregar Signos Vitales</h5>
                <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <!--Temperatura-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label">Temperatura</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label d-none d-sm-block">Unidades</label>
                      <select class="form-select" aria-label="Default select example" id="select-temperatura">
                        <option selected>--</option>
                        <option value="1">Fahrenheit</option>
                        <option value="2">Celsius</option>
                      </select>
                    </div>
                  </div>
                  <!--Frecuencia Cardiaca-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label">Frecuencia Cardiaca</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="frecunaciaUnidades" class="form-label text-white d-none d-sm-block">-</label>
                      <input type="text" class="form-control" id="frecunaciaUnidades" aria-describedby="emailHelp" disabled value="PPM">
                    </div>
                  </div>
                  <!--Peso-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label">Peso</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label d-none d-sm-block">Unidad</label>
                      <select class="form-select" aria-label="Default select example" id="select-temperatura">
                        <option selected>--</option>
                        <option value="1">Libras</option>
                        <option value="2">Kilogramos</option>
                      </select>
                    </div>
                  </div>
                  <!--Presión Arterial-->
                  <div class="col-md-6 col-lg-3">
                    <div class="mb-3 mt-3">
                      <label for="presionArterial" class="form-label">Presión Arterial</label>
                      <input type="number" class="form-control" id="presionArterialSistolica" aria-describedby="emailHelp" placeholder="Sistolica">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="mb-3 mt-3">
                      <label for="presionArterial" class="form-label text-white d-none d-sm-block">Presión Arterial</label>
                      <input type="number" class="form-control" id="presionArterialDiastolica" aria-describedby="emailHelp" placeholder="Diastolica">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <!--Saturación de Oxigeno-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label">Saturación Oxigeno</label>
                      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label text-white d-none d-sm-block" >-</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer bg-dark">
              <!--Btn Guardar Signos Vitales-->
              <button class="btn btn-danger text-start" id="guarda_signos_vitales" >Cerrar ventana</button>
              <button class="btn btn-success text-start" id="guarda_signos_vitales" >Guardar Datos</button>
            </div>
          </div>
        </div>
      </div>

      

    </div>   
</div>
{% endblock %}
<!--Js de la vista-->
{% block js %}
<script>
    const url = "{% url 'autocompletado_apellidos' %}";
    const urlFiltro = "{% url 'busqueda_paciente' %}";
    const complementoConsulta = "?apellido_paciente=";
    const id_component="id_apellido_paciente";
    const id_modal="AgregarCola";
    const tablaResultado = "datos_pacientes"; //El id de una tabal en la que saldran los resultados
    const tablaColaConsulta="tabla_cola";
    const url_consulta="{% url 'get_contieneConsulta' %}"
    let tablaCola=document.getElementById(tablaColaConsulta);
    {% if rol == ROL_SECRETARIA %}
    let tablaData=document.getElementById(tablaResultado);
    
    //Para moviles, click en la lupa
    document.getElementById("filtro_buscar").addEventListener("click",function(){
      getDatosFiltrados(tablaData, id_component,urlFiltro, complementoConsulta);
    });
    document.getElementById(id_component).addEventListener('keypress',(e)=>{
        if (e.key === 'Enter') {
          getDatosFiltrados(tablaData, id_component,urlFiltro, complementoConsulta, id_modal);
          
        }
      });
    //Lenar autocompletado
    
    getAutocompletado(url, id_component, tablaResultado, urlFiltro, complementoConsulta, tablaData, id_modal);
    {% endif %}
    consultarCola(url_consulta, tablaCola);

    
    function consultarCola(url_consulta, tablaCola){
      $.ajax({
                url: url_consulta,
                dataType: "json",
                data: {

                },
                success: function(data){  
                  
                  data.map(function(x){
                  let elemento='<tr>';
                  for (const property in x) {
                      elemento = elemento+'<td>'+`${x[property]}`+'</td>';
                  }
                  elemento=elemento+'<td><div onclick="accionServer('+Object.values(x)[0]+');"class="material-symbols-outlined btn" >add</div></td>';
                  elemento=elemento+'</tr>';
      
      //   <input type="button"  value="Agregar a cola para examenes de Lab">
      //   <input type="button"  value="Agregar a cola para pasar Consulta">
      //   <input type="button"  value="Cancelar">
       
                  tablaCola.insertAdjacentHTML("beforeend", elemento);
                  });
                }
            });
    }
    //Voy a ocupar la misma funcion para agregar y eliminar.
    function accionServer(id){
      url_agregar_cola="/expediente/cola/"+id;
      $.ajax({
        url: url_consulta,
                url: url_agregar_cola,
                dataType: "json",
                data: {

                },
                success: function(data){  
                  toastr[data.type](data.data);
                  tablaCola.innerHTML=null;                
                  consultarCola(url_consulta, tablaCola);
                }
      });
      console.log(url_agregar_cola);
      
    }
    
</script>

{% endblock %}
