{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Sala de Espera {% endblock %}
{% block content %}
<div class="container py-1 rounded">
  <div class="row g-0">
    <h5 class="fw-bold text-secondary">Sala de Espera</h5>
    <div class="col-12 col-md-12">
      <!--Busqueda por Apellidos-->
      {% if rol == ROL_SECRETARIA %}
      <div class="input-group  py-4">
          <span class="input-group-text bg-white" id="basic-addon1">
            <span class="material-symbols-outlined btn-sm" id="search_voff">face</span>
          </span>
          <input type="text" class="form-control" id="id_apellido_paciente" placeholder="Apellidos" aria-label="Nombres" aria-describedby="basic-addon1">
          
          <span class="input-group-text bg-white" id="filtro_buscar">
            <span class="material-symbols-outlined btn btn-sm" id="" data-bs-toggle="modal" data-bs-target="#busquedaPacienteModal">search</span>
          </span>
          
      </div>
      {% endif %}
    </div>
    <!--Boton abregar nuevo -->
    {% if rol == ROL_SECRETARIA  %}
    <div class="col-lg-12 pb-3 text-end">
      <div class="text-end">
        <a href="{% url 'crear_expediente'%}" class="btn btn-outline-secondary" id="buscar-nombre" >Abrir Expediente Nuevo</a>
      </div>
    </div>
    {% endif %}
  </div>

</div>
<div class="container">
    <div class="row g-0">
      
      <!--Tarjetas de pacientes-->
           

      <!--Navegación Entre Consultas y Examenes de Laboratorio-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Consulta Medica</button>  
        </li>
        {% if rol == ROL_SECRETARIA  %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" href="{% url 'sala_laboratorio' %}">Examenes de Laboratorio</a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="consultaMedica" role="tabpanel" aria-labelledby="home-tab">
          <!--Tabla de pacientes en cola-->
          <div class="table-responsive">
            <table class="table table-bordered text-center bg-white">
                <thead class="table-secondary">
                  <tr>
                    
                    {% if rol == ROL_ENFERMERA or rol == ROL_SECRETARIA or rol == ROL_DOCTOR %}
                    <th scope="col">Numero Cola</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    {% endif %}
                    {% if rol == ROL_SECRETARIA or rol == ROL_DOCTOR %}
                    <th scope="col">Fase</th>
                    {% endif %}
                    {% if rol == ROL_DOCTOR %}
                    <th scope="col">Fecha</th>
                    {% endif %}
                    {% if rol == ROL_SECRETARIA %}
                    <th scope="col">Consumo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                    {% endif %}
                    {% if rol == ROL_DOCTOR %}
                    <th scope="col">Ver Consulta</th>
                    {% elif rol == ROL_ENFERMERA %}
                    <th scope="col">Registrar Signos Vitales</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="tabla_cola">
                  
                </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>


      <!--Modal Datos del Paciente-->
      <div class="modal fade" id="busquedaPacienteModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Paciente a Cola</h5>
                <div class="spinner-border text-primary" role="status" id="load">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!--Tabla de pacientes buscados-->
                <div class="table-responsive" id="tabla_busqueda">
                  <table class="table table-bordered text-center bg-white">
                    <thead class="table-secondary">
                      <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Fecha Nacimiento</td>
                          <th>Sexo</th>
                          <th>Direccion</th>
                          <th>Email</th>
                          <th>Responsable</th>
                          <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody  id="datos_pacientes">
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>

      <!-- Modal Signos Vitales -->
      <div class="modal fade" id="agregarSignosVitalesModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header text-center bg-secondary text-white">
                <h5 class="modal-title w-100">Agregar Signos Vitales</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <!--Temperatura-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label">Temperatura</label>
                      <input type="number" class="form-control" id="inputTemperatura" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label d-none d-sm-block">Unidades</label>
                      <select class="form-select" aria-label="Default select example" id="select_temperatura" required>
                        <option selected>--</option>
                        <option value="F">Fahrenheit</option>
                        <option value="C">Celsius</option>
                      </select>
                    </div>
                  </div>
                  <!--Frecuencia Cardiaca-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="inputFrecuenciaCardiaca" class="form-label">Frecuencia Cardiaca</label>
                      <input type="number" class="form-control" id="inputFrecuenciaCardiaca" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="frecunaciaUnidades" class="form-label text-white d-none d-sm-block">-</label>
                      <input type="text" class="form-control" id="frecunaciaUnidades" aria-describedby="emailHelp" disabled value="PPM" required>
                    </div>
                  </div>
                  <!--Peso-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="inputPeso" class="form-label">Peso</label>
                      <input type="number" class="form-control" id="inputPeso" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label d-none d-sm-block">Unidad</label>
                      <select class="form-select" aria-label="Default select example" id="select_peso" required>
                        <option selected>--</option>
                        <option value="Lbs">Libras</option>
                        <option value="Kgs">Kilogramos</option>
                      </select>
                    </div>
                  </div>
                  <!--Presión Arterial-->
                  <div class="col-md-6 col-lg-3">
                    <div class="mb-3 mt-3">
                      <label for="inputPresionSistolica" class="form-label">Presión Arterial</label>
                      <input type="number" class="form-control" id="inputPresionSistolica" aria-describedby="emailHelp" placeholder="Sistolica" required>
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="mb-3 mt-3">
                      <label for="inputPresionDiastolica" class="form-label">Presión Arterial</label>
                      <input type="number" class="form-control" id="inputPresionDiastolica" aria-describedby="emailHelp" placeholder="Diastolica" required>
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                  </div>
                  <!--Saturación de Oxigeno-->
                  <div class="col-md-8 col-lg-4">
                    <div class="mb-3 mt-3">
                      <label for="inputSaturacionOxigeno" class="form-label">Saturación Oxigeno</label>
                      <input type="number" class="form-control" id="inputSaturacionOxigeno" aria-describedby="emailHelp" required>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="mb-3 mt-3">
                      <label for="exampleInputEmail1" class="form-label text-white d-none d-sm-block" >-</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer bg-secondary">
              <!--Btn Guardar Signos Vitales-->
              <button class="btn btn-danger text-start" id="cerrar_signos_vitales" data-bs-dismiss="modal">Cerrar</button>
              <button class="btn btn-success text-start" id="guarda_signos_vitales" >Guardar Datos</button>
            </div>
          </div>
        </div>
      </div>


      

    </div>   
</div>
{% endblock %}
<!--Js de la vista-->
{% block js %}
<script src="{% static 'js/sistemaClinico.js' %}"></script>
<script>
    $('#load').hide();
    $( "#side_expediente" ).addClass( "active" );
    const url = "{% url 'autocompletado_apellidos' %}";
    const urlFiltro = "{% url 'busqueda_paciente' %}";
    const complementoConsulta = "?apellido_paciente=";
    const id_component="id_apellido_paciente";
    const id_modal="AgregarCola";
    const tablaResultado = "datos_pacientes"; //El id de una tabal en la que saldran los resultados
    const tablaColaConsulta="tabla_cola";
    const url_consulta="{% url 'get_contieneConsulta' %}"
    let tablaCola=document.getElementById(tablaColaConsulta);
    let tablaData=document.getElementById(tablaResultado);

    //socket
    let ws_scheme=window.location.protocol=='https:'?"wss":"ws";
    let socket_url=`${ws_scheme}://${window.location.host}/ws/expediente/cola/`;
    const colaExpedienteSocket=new WebSocket(socket_url);
    colaExpedienteSocket.onmessage=(message)=>{
      let data=JSON.parse(message.data);
      let elemento;
      let icon;
      let modal="";
      //limpia la tabla de resultados
      tablaCola.innerHTML=null;
      //si no hay resultados muestra un mensaje de que no hay resultados
      if (data.length==0){
        elemento='<tr><td colspan="100%">No hay pacientes en espera</td></tr>';
        tablaCola.insertAdjacentHTML("beforeend", elemento);
      }else{
        //llenado de tabla
        data.map((x)=>{
        elemento='<tr>';
        //necesito el id_signos
        id_consulta=x.id_consulta;
        delete x.id_consulta;
        for (const property in x) {
            elemento = elemento+'<td valign="middle">'+`${x[property]}`+'</td>';
        }
        {% if request.user.roles.codigo_rol == "ROL_SECRETARIA" %}
        elemento=elemento+`
        <td>
          <a role="button" title="Almacenar exámenes externos"  href="/expediente/consulta/${id_consulta}/agregar-documento-externo/" target="_blank">
            <div class="material-symbols-outlined">cloud_upload</div> 
          </a>
        </td>`;
        {% endif %}
        {% if request.user.roles.codigo_rol == "ROL_ENFERMERA" %}
        icon="monitor_heart";
        modal="data-bs-toggle='modal' data-bs-target='#agregarSignosVitalesModal'";
        strfuncion="modificar_btn_editar_signos("+id_consulta+");";
        click="onclick='"+strfuncion+"';";
        elemento=elemento+'<td><div class="material-symbols-outlined btn" '+click+' '+modal+' >'+icon+'</div></td>';
        {% else %}
        click="";
        icon = "more_vert";
        {% endif %}
        {% if rol == ROL_DOCTOR %}
        elemento=elemento+`<td>
          <a role="button"   class="btn btn-outline-primary" href="/expediente/consulta/${id_consulta}">
          <div class="material-symbols-outlined">edit_note</div>
          <div>Abrir Consulta</div> 
          </a></td>`;
        {% else %}
        // elemento=elemento+'<td><div class="material-symbols-outlined btn" '+click+' '+modal+' >'+icon+'</div></td>';
        {% endif %}
        elemento=elemento+'</tr>';                    
        tablaCola.insertAdjacentHTML("beforeend", elemento);
        });
      }
    }
    //event listeners para buscar pacientes o filtrar consultas
    {% if rol == ROL_SECRETARIA %}    
    //Para moviles, click en la lupa
    document.getElementById("filtro_buscar").addEventListener("click",function(){
      getDatosFiltrados(tablaData, id_component,urlFiltro, complementoConsulta);
    });
    document.getElementById(id_component).addEventListener('keypress',(e)=>{
      if (e.key === 'Enter') {
        getDatosFiltrados(tablaData, id_component,urlFiltro, complementoConsulta, id_modal);
        
      }
    });
    
    {% endif %}    
    {% if rol == ROL_DOCTOR or rol == ROL_SECRETARIA %}
    //Lenar autocompletado
    getAutocompletado(url, id_component, tablaResultado, urlFiltro, complementoConsulta, tablaData, id_modal);
    {% endif %} 
    
   
    //Voy a ocupar la misma funcion para agregar y eliminar.
    function accionServer(id, accion){
      $('#load').show();
      let url_accion="";
      {% if rol == ROL_ENFERMERA %}
      url_accion = "/expediente/modificar-signosVitales/";
      {% else %}
      url_accion = "/expediente/cola/";
      {% endif %}
      url_agregar_cola=url_accion+id;

      $.ajax({
        url: url_consulta,
                url: url_agregar_cola,
                type:"POST",
                dataType: "json",
                data: {
                  {% if rol == ROL_ENFERMERA %}
                  'valor_temperatura': $('#inputTemperatura').val(),
                  'valor_frecuencia_cardiaca': $('#inputFrecuenciaCardiaca').val(),
                  'valor_peso': $('#inputPeso').val(),
                  'valor_presion_arterial_diastolica': $('#inputPresionDiastolica').val(),
                  'valor_presion_arterial_sistolica': $('#inputPresionSistolica').val(),
                  'valor_saturacion_oxigeno': $('#inputSaturacionOxigeno').val(),
                  'unidad_temperatura':$('#select_temperatura').val(),
                  'unidad_peso':$('#select_peso').val()
                  {% endif %}
                },
                success: function(data){
                  $('#load').hide(); 
                  toastr[data.type](data.data);           
                  colaExpedienteSocket.send(JSON.stringify({
                    'message':'sync'
                  }));
                }
      });
      
    }
    //Editar signos vitales
    function modificar_btn_editar_signos(id_consulta){
      edit = document.getElementById("guarda_signos_vitales");
      strfuncion="accionServer("+id_consulta+");";
      edit.setAttribute("OnClick", strfuncion);
    }
    
</script>

{% endblock %}
