{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}
<style>
    .ui-autocomplete { z-index:2147483647; }
    .bg-card-custom{
        color: #0c63e4;
        background-color: #E7F1FF;
    }
</style>
{% endblock %}
<!--Titulo-->
{% block titulo %} Consulta {% endblock %}
{% block content %}
<div class="accordion" id="accordion_signos_vitales">
        {% for signo_vital in signos_vitales %}
                <div class="accordion-item">
                        <h2 class="accordion-header" 
                        id="panelsStayOpen-heading-{{signo_vital.id_signos_vitales}}">
                        
                                <button class="accordion-button" type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#panelsStayOpen-collapse-{{signo_vital.id_signos_vitales}}" aria-expanded="false" 
                                aria-controls="panelsStayOpen-collapse-{{signo_vital.id_signos_vitales}}">
                                        <div class="col">
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                        <p>Fecha: </p>
                                                        </div>
                                                        <div class="col">
                                                        <p>{{ signo_vital.fecha }}</p>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                        <p>Responsable: </p>
                                                        </div>
                                                        <div class="col">
                                                        <p>{{ signo_vital.enfermera }}</p>
                                                        </div>
                                                </div>
                                        </div>
                                </button>
                        </h2>
                        <div id="panelsStayOpen-collapse-{{signo_vital.id_signos_vitales}}" class="accordion-collapse collapse " 
                        aria-labelledby="panelsStayOpen-heading-{{signo_vital.id_signos_vitales}}">
                        
                                <div class="accordion-body">
                                        <div class="border border-secondary rounded p-3">

                                                <div class="row">
                                                        <div class="col fw-bold">
                                                        <p>Temperatura: </p>
                                                        </div>
                                                        <div class="col">
                                                        <p>{{ signo_vital.valor_temperatura }} {{ signo_vital.unidad_temperatura }}</p>
                                                </div>
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                                <p>Frecuencia Cardiaca: </p>
                                                        </div>
                                                        <div class="col">
                                                                <p>{{ signo_vital.valor_frecuencia_cardiaca }} {{ signo_vital.unidad_frecuencia_cardiaca }}</p>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                                <p>Peso: </p>
                                                        </div>
                                                        <div class="col">
                                                                <p>{{ signo_vital.valor_peso }} {{ signo_vital.unidad_peso }}</p>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                                <p>Presión Arterial: </p>
                                                        </div>
                                                        <div class="col">
                                                                <p>{{ signo_vital.valor_presion_arterial_sistolica }}/{{ signo_vital.valor_presion_arterial_diastolica }}</p>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col fw-bold">
                                                                <p>Saturación Oxigeno: </p>
                                                        </div>
                                                        <div class="col">
                                                                <p>{{ signo_vital.valor_saturacion_oxigeno }} %</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        {% endfor %}
</div>          
{% endblock %}