{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Publicidad | Clínica {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Publicidad</h3>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Clínica</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
  {% comment %} <a href="{% url 'crear_publicacion'%}" class="btn btn-success w-0 my-1">Crear Nueva Promoción</a> {% endcomment %}
	<div class="card">
		<div class="card-header alert-primary text-primary" aria-expanded="true">
			<div class="px-1 py-2">
				Servicios
			</div>
		</div>
		<div class="card-body">

      <h2>Servicio {{ servicio.nombre }}</h2>

      <ol>
        {% for descuento in page_obj %}
          <li>{{ descuento.codigo_descuento }}</li>
        {% endfor %}
      </ol>
  
      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
  
              <span class="current">
                  Page {{ page_obj.number }} of {{ paginator.num_pages }}.
              </span>
  
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
      
    </div>
  </div>
</div>    

<script>
  $( "#side_administrar_publicidad" ).addClass( "active" );
</script>
{% endblock %}