asgiref==3.5.0
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
boto3==1.21.38
botocore==1.24.38
Brotli==1.0.9
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==37.0.2
cssselect2==0.6.0
daphne==3.0.2
Django==3.2.12
django-environ==0.8.1
django-filter==21.1
django-storages==1.12.3
djangorestframework==3.13.1
fonttools==4.33.3
gunicorn==20.1.0
html5lib==1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jmespath==1.0.0
Pillow==9.1.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydyf==0.2.0
pyOpenSSL==22.0.0
pyphen==0.12.0
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.5.2
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.1.1
urllib3==1.26.9
weasyprint==55.0
webencodings==0.5.1
zope.interface==5.4.0
zopfli==0.2.1
