asgiref==3.5.0
boto3==1.21.38
botocore==1.24.38
Django==3.2.12
django-environ==0.8.1
django-filter==21.1
django-storages==1.12.3
gunicorn==20.1.0
jmespath==1.0.0
psycopg2-binary==2.9.3
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.2
typing-extensions==4.1.1
urllib3==1.26.9
djangorestframework==3.13.1
djangorestframework==3.13.1

