<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
        </script>  
        
        <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
        </script>  
        <link href=  
        "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
                rel="stylesheet" type="text/css" />  
</head>
<body>
      <div name="autocompletado">
        <label for="id_apellido_paciente">
          Paciente
          <input type="text" name="apellido_paciente" id="id_apellido_paciente" autocomplete="off" placeholder="Apellidos">
        </label>
          <!-- <button type="button" id="btn_buscar_paciente">Buscar</button> -->
      </div>
    
    <table>
      <thead>
        
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</td>
            <th>Fecha Nacimiento</th>
          </tr>
      </thead>
      <tbody  id="datos_pacientes">
        
      </tbody>      
        
    </table>
    <script>
        let apellidos = [];
        let consultaApellidos = new XMLHttpRequest();
        let filtroPacientes = new XMLHttpRequest();
        let pacientesResult;
        let tablaPacientes=document.getElementById("datos_pacientes");
        consultaApellidos.open("GET", "{% url 'autocompletado_apellidos' %}", true);
        consultaApellidos.onload = function (e) {
          if (consultaApellidos.readyState === 4) {
            if (consultaApellidos.status === 200) {
                $( function() {
            
                  apellidos=JSON.parse(consultaApellidos.responseText).apellidos
                  $( "#id_apellido_paciente" ).autocomplete({
                    source: apellidos,
                    select: getPacientes,
                    focus : getPacientes,
                    change :getPacientes
              
                  });
                } );
            } else {
              console.error(consultaApellidos.statusText);
            }
          }
        };
        consultaApellidos.onerror = function (e) {
          console.error(consultaApellidos.statusText);
        };
        consultaApellidos.send(null);
               
        document.getElementById('id_apellido_paciente').addEventListener('keypress',(e)=>{
          if (e.key === 'Enter') {
            getPacientes();
            
          }
        })

        function getPacientes(){
                        let apellidoTarget=document.getElementById('id_apellido_paciente').value;
                        //filtrar
                        
                        filtroPacientes.open("GET", "{% url 'busqueda_paciente' %}"+"?apellido_paciente="+apellidoTarget, true);
                        filtroPacientes.onload = function (e) {
                          if (filtroPacientes.readyState === 4 && filtroPacientes.status === 200) {
                            pacientesResult=JSON.parse(filtroPacientes.responseText);
                            tablaPacientes.innerHTML="";
                            if(pacientesResult.pacientes.length==0){
                              tablaPacientes.insertAdjacentHTML("beforeend", '<tr colspan="5" ><td colspan="5" style="text-align:center">No hay Resultados</td></tr>');

                            }else{
                              pacientesResult.pacientes.forEach(p => {
                                let element=`<tr>
                                  <td>${p.id_paciente}</td>
                                  <td>${p.nombre_paciente}</td>
                                  <td>${p.apellido_paciente}</td>
                                  <td>${p.sexo_paciente}</td>
                                  <td>${p.fecha_nacimiento_paciente}</td>
                                  </tr>`
                                tablaPacientes.insertAdjacentHTML("beforeend", element);
                              });
                            }
                        } else {
                              console.error(filtroPacientes.statusText);
                        }};
                        filtroPacientes.onerror = function (e) {
                          console.error(filtroPacientes.statusText);
                        };
                      
                        filtroPacientes.send();
                    }
        </script>
</body>
</html>
