{% extends "baseControl.html" %}
{% load static %}
{% load static %}
<!--Css del template-->
{% block css %}
ul.errorlist li{
      color: #dc3545;
      list-style-type: none;
}
ul{
  padding-left: 0;
  margin-bottom:0;
}
label{
  margin-top:1rem;
}
{% endblock %}
{% block titulo %} Datos del Paciente {% endblock %}
{% block content %}

<body>
<div class="container py-2 rounded">
  <form class="" method="POST" novalidate>
    <div class="pt-4">
      <div class="card">
        <div class="card-header">
          <h4 class="fw-bold text-secondary">Registrar Nuevo Paciente</h4>
        </div>
        <div class="card-body">
          {% csrf_token %}
          {{ formulario }}

          <div class="text-end">
            <input type="submit" class="btn btn-outline-primary rounded"  value="Guardar Datos">
          </div>
        </div>
      </div>
    </div> 
  </form>  

</div>
</body>
</html>
{% endblock %}
{% block js %}
<script>
    '{% for message in messages %}'
        '{% if message.tags %}'
        toastr[ '{{ message.tags }}' ]( '{{ message }}' );
        '{% endif %}'
    '{% endfor %}'
</script>
{% endblock %}
