{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Referencia Medica {% endblock %}
{% block content %}
	<div class="container py-4">
		<h3 class="pb-4">Elaboración de Referencia Médica</h3>
		
		<div class="card">
			<div class="card-header">
			Datos del Paciente.
			</div>
			<div class="card-body">
				<p></p>
			</div>
			<div class="card-header">
				Datos de la consulta.
			</div>
			<div class="card-body">
				<p></p>
			</div>
			<div class="card-header">
				Datos de la Referencia.
			</div>
			<div class="card-body">
				<form method="post" id="referencia-medica">
					{% csrf_token %}
                                        {% for field in form %}
                                        <label class="form-label fw-bold text-secondary" for="{{ field.auto_id }}">{{ field.label }}:</label>
                                        {{ field }}
                                        <p></p>
                                        {% endfor %}
					<div class="text-end pt-4">
						<input class="btn btn-outline-primary" type="submit" value="Guardar">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script>
	{% if update %}
	$('#referencia-medica').submit(function (event) {
		event.preventDefault();
		$.ajax({
		type: 'POST',
		url: $("form").attr("action"),
		data: $("form").serialize(), 
		success: function(response) { 
				toastr[response.type](response.data); 
		},
		});
	});
	{% endif %}
</script>
{% endblock %}