{% extends "base.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %}Promociones{% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Eliminar Promoción</h3>
		</div>
		{% comment %} <div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'clinica_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Nueva Promoción</li>
					</ol>
				</nav>
			</div>
		</div> {% endcomment %}
	</div>
	<div class='row'>
        <form method="post" class="text-center">{% csrf_token %}
            <p>¿Seguro que desea eliminar la promoción del servicio médico {{ object.servicio.nombre }} válida desde el {{object.validez_fecha_inicio}} hasta el {{object.validez_fecha_fin}}?</p>
            {{ form }}

            <a href="{% url 'ver_publicaciones' view.kwargs.servicio view.kwargs.id_servicio %}" class="btn btn-secondary">Regresar</a>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
    </div>
</div>    
{% endblock %}