{% extends "base.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Publicidad | Clínica {% endblock %}
{% block content %}
<div class="container text-start py-4">
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'clinica_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Nueva Promoción</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	{% comment %} <div class="card"> {% endcomment %}
		
		<div class="card-body mx-auto w-75">

				<h3 class="fw-bold text-secondary pb-4">Crear Nueva Promoción</h3>

			<form method="post"  enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card">
					<div class="card-header">
						Publicación
					</div>
					<div class="card-body">
						<div class="row justify-content-md-start">
							<em>Período de Validez</em>
						</div>
						<div class="row justify-content-md-start">
							<div class=" col-lg-3">
								{{ form.validez_fecha_inicio.errors }}
								<label for="id_validez_fecha_inicio">Inicio:</label>
								{{ form.validez_fecha_inicio }}
							</div>
							<div class=" col-lg-3">
								{{ form.validez_fecha_fin.errors }}
								<label for="id_validez_fecha_fin">Fin:</label>
								{{ form.validez_fecha_fin }}
							</div>
						</div>
						<div class="row justify-content-md-start">
							<div class=" col">
								{{ form.descripcion.errors }}
								{{ form.descripcion.label_tag }} {{ form.descripcion }}
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Descuento
					</div>
					<div class="card-body" id="formulario-descuento-body">
							
							<div class="row justify-content-md-start">
								<div class=" col py-3">
									<div class="form-check form-switch">
									{{ form_descuento.habilitarDescuento.errors }}
									{{ form_descuento.habilitarDescuento.label_tag }} {{ form_descuento.habilitarDescuento }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 border-end border-secondary">
									<div class="row text-start">
										<em>Período de Validez</em>
									</div>
									<div class="row justify-content-md-start">
										<div class=" col-lg-6">
											{{ form_descuento.validez_fecha_inicio.errors }}
											<label for="id_validez_fecha_inicio">Inicio:</label>
											{{ form_descuento.validez_fecha_inicio }}
										</div>
										<div class=" col-lg-6">
											{{ form_descuento.validez_fecha_fin.errors }}
											<label for="id_validez_fecha_fin">Fin:</label>
											{{ form_descuento.validez_fecha_fin }}
										</div>
									</div>
								</div>
								<div class="col-lg-6 ">
									<div class="row text-start">
										<em>Descuento</em>
									</div>
									<div class="row justify-content-md-start">
										<div class=" col-lg-6">
											{{ form_descuento.cantidad_descuento.errors }}
											<label for="id_cantidad_descuento">Cantidad ($):</label>
											{{ form_descuento.cantidad_descuento }}
										</div>
										<div class=" col-lg-6">
											{{ form_descuento.porcentaje_descuento.errors }}
											<label for="id_porcentaje_descuento">Porcentaje (%):</label>
											{{ form_descuento.porcentaje_descuento }}
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-md-start">
								<div class=" col">
									{{ form_descuento.restricciones.errors }}
									{{ form_descuento.restricciones.label_tag }} {{ form_descuento.restricciones }}
								</div>
							</div>
							
					</div>
				</div>
				<div class="card">
					{{ formset_imagen.management_form }}
					<div class="card-header">
						Imagenes
					</div>
					<ul class="list-group list-group-flush">
						{% for form in formset_imagen %}
							<li class="list-group-item">
								<div class="row justify-content-md-start">
									<div class="col">
										{% if form.instance.archivo %}
										<img src="{{form.instance.archivo.url}}" class="img-thumbnail my-3" alt="Imagen promoción">
										{% endif %}
									</div>
								</div>
								<div class="row justify-content-md-start">
									<div class="col-lg-8">
										{{ form.errors }}
										{{ form.label_tag }} {{ form }}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="d-flex justify-content-center my-3">
					<a href="{% url 'ver_publicaciones' servicio=servicio id_servicio=id_servicio %}" class="btn btn-secondary mx-1">Regresar</a>
					<input class="btn btn-success" type="submit" value="Guardar">
				  </div>
			</form>
		</div>
	{% comment %} </div> {% endcomment %}
</div>    

<script>
	const formDescuento="";
  $( "#side_administrar_publicidad" ).addClass( "active" );
  const checkStateDescuento = ()=>{
	if ($('#id_habilitarDescuento').is(":checked")) {
		$('#formulario-descuento-body :input').not(":first").prop('disabled', false);
	}
	else {
		$('#formulario-descuento-body :input').not(":first").prop('disabled', true);
	}
  }
  $('#id_habilitarDescuento').click(()=>{
	checkStateDescuento();
  })
  onload = (event) => {
	checkStateDescuento();
	{% for mensaje in mensajes %}
		toastr['{{mensaje.type}}']('{{mensaje.data}}');
	{% endfor %}
};
</script>
{% endblock %}