{% extends "base.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Publicidad | Clínica {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Crear Nueva Promoción</h3>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'clinica_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Nueva Promoción</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header alert-primary text-primary" aria-expanded="true">
			<div class="px-1 py-2">
				Nueva Promoción
			</div>
		</div>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<div class="card">
					<div class="card-header">
						Publicación
					</div>
					<div class="card-body">
						{{form.as_p}}
						<div class="form-check form-switch pt-2">
							<input class="form-check-input" type="checkbox" id="habilitar-descuento">
							<label class="form-check-label" for="habilitar-descuento">Habilitar Descuento</label>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Descuento
					</div>
					<div class="card-body">
						{{form_descuento.as_p}}
					</div>
				</div>
				<div class="card">
					{{ formset.management_form }}
					<div class="card-header">
						Imagenes
					</div>
					<ul class="list-group list-group-flush">
						{% for form in formset_imagen %}
							<li class="list-group-item">
								{{form.as_p}}
							</li>
						{% endfor %}
					</ul>
				</div>
				<input class="btn btn-outline-success" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>    

<script>
	const formDescuento="";
  $( "#side_administrar_publicidad" ).addClass( "active" );
  $('#habilitar-descuento').click(()=>{
	if ($('#habilitar-descuento').is(":checked")) {
            $('#formulario-descuento-body :input').prop('disabled', true);
        }
  })
</script>
{% endblock %}