{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Publicidad {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary">Publicaciones</h3>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Clínica</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
  
  <div class="d-flex justify-content-between">
    <a href="{% url 'crear_publicacion' id_servicio=view.kwargs.id_servicio %}" class="btn btn-success w-0 my-1">Nueva Publicación</a>
  </div>
      <!--Tabla de Publicidad-->
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col" rowspan="2">Titulo</th>
            <th scope="col" rowspan="2">Descripción</th>
            <th scope="col" rowspan="2">Creación</th>
            <th scope="col" rowspan="2">Útima Modificación</th>
            <th scope="col" colspan="2">Validez</th>
            <th scope="col" rowspan="2">Vistas</th>
            <th scope="col" rowspan="2">Editar</th>
            <th scope="col" rowspan="2">Eliminar</th>
          </tr>
          <tr>
            <th>Inicio</th>
            <th>Fin</th>
          </tr>
        </thead>
        <tbody>
          {% for publicacion in publicaciones %}
          <tr>
            <td>{{ publicacion.servicio.nombre }}</td>
            <td class"text-truncate">{{ publicacion.descripcion }}</td>
            <td>{{ publicacion.fecha_creacion }}</td>
            <td>{{ publicacion.fecha_ultima_edicion }}</td>
            <td>{{ publicacion.validez_fecha_inicio|default:"" }}</td>
            <td>{{ publicacion.validez_fecha_fin|default:"" }}</td>
            <td>{{ publicacion.cantidad_visitas }}</td>
            <td>
              <a 
              class="material-symbols-outlined btn btn-sm" 
              href="{% url 'editar_publicacion' view.kwargs.id_servicio publicacion.id_publicacion %}">edit</a>
            </td>
            <td>
              <a 
                class="material-symbols-outlined btn btn-sm" 
                href=""
                >delete</a>
              </td>
            </tr>
          {% empty %}
          <tr><td colspan="9">Lo siento, aún no hay publicaciones. Puedes crear una seleccionando <i>Crear mi primer publicación</i><br/><a href="{% url 'crear_publicacion' id_servicio=view.kwargs.id_servicio %}" class="btn btn-success w-0 my-1">Crear Primer Publicación</a></td></tr>
          
          {% endfor %}
          
        </tbody>
        
      </table>
      <div class="d-flex justify-content-center">
        <a href="{% url 'lista_servicios_medicos'%}" class="btn btn-secondary mx-1">Regresar</a>
      </div>
  </div>    

<script>
  $( "#side_administrar_publicidad" ).addClass( "active" );
</script>
{% endblock %}