{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Publicidad | Clínica {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Publicidad</h3>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Clínica</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header alert-primary text-primary" aria-expanded="true">
			<div class="px-1 py-2">
				Publicidad de la Clínica
			</div>
		</div>
		<div class="card-body">
      <!--Tabla de Publicidad-->
      <table class="table table-hover text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Período de Validez</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>
                <a 
                  class="material-symbols-outlined btn btn-sm" 
                  href=""  
                  target="_blank">open_in_new</a>
                <a 
                  class="material-symbols-outlined btn btn-sm" 
                  href=""
                  >delete</a>
              </td>
            </tr>

          </tbody>
        </table>
        <a href="{% url 'clinica_publicidad_promocion' id_promocion=0%}" class="btn btn-outline-primary w-0 my-1">Crear Nueva Promoción</a>
		</div>
	</div>
</div>    

<script>
  $( "#side_administrar_publicidad" ).addClass( "active" );
</script>
{% endblock %}