{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Iniciar Sesión</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo_clinica.png' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet" />
    <style>
        .bg{
            background-image: url("https://cdn.pixabay.com/photo/2019/08/13/08/15/adult-4402808_960_720.jpg");
            background-position: center;
            background-size: cover;
        }
        .fill { 
            min-height: 100%;
            height: 100%;
        }
    </style>
  </head>
  <body class="bg">
      <!--Login Escritorio-->
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center mx-2">
            <div class="col">
                <div class="row shadow rounded" id="cuadro_login">
                    <!-- Imagen -->
                    <div class="col-6 d-none d-md-block bg-light">
                        <img src="{% static 'img/forensic-medicine-animate.svg' %}" alt="">
                    </div>
                    <!-- Login -->
                    <div class="col-12 col-md-6 bg-white py-3">
                        <h2 class="title-c text-center pt-4">Iniciar Sesión</h2>
                        <div class="d-flex justify-content-center">
                            <a href="/" title="Página de inicio">
                                <img src="{% static 'img/logo_clinica.png' %}" class="py-3" alt="Logo Clinica Médica Cojutepeque">
                            </a>
                        </div>
                        <form class="px-4" action="" method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="email" class="form-label">Usuario o Correo Electronico</label>
                                <input type="text" class="form-control" name="usuario">
                            </div>
                            <div class="mb-4">
                                <label for="passwbgord" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-4 form-check">
                                <input type="checkbox" name="connected" class="form-check-input">
                                <label for="connected" class="form-check-label">No cerrar sesión</label>
                            </div>
                            <div class="d-grid"> 
                                <button type="submit" class="btn btn-outline-warning rounded">Iniciar Sesión</button>
                            </div>
        
                            <div class="my-3 w-100 text-center">
                                <span class="d-grid">
                                    <a href="#" class="btn btn-outline-secondary">Recuperar Contraseña</a>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Escritorio-->


    <!--Fin Telefonos-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/sistemaClinico.js' %}"></script>

    <script>
    if ($(window).width()<600){
        $( "#cuadro_login").removeClass( "shadow" );
        }
    toastr[ '{{ type }}' ]( '{{ mensaje }}' );
    </script>
  </body>
</html>