{% load static %}
<div class="container pt-3">
    <h2 class="pt-5 pb-4">Servicios</h2>
    <div class="row" style="max-height: 75vh">
        <!--Scroll de promociones-->
        <div class="col-12 col-md-6">
            <div class="scrollarea h-auto" style="max-height: 75vh">
                <div class="d-flex flex-column">
                        <!--Tarjetas-->
                        <div class="card mb-3">
                            <div class="row g-0">
                                {% for servicio in serviciosMedicos %}
                                    <div class="col-4">
                                    <!--Imagen-->
                                    {% for imagen in imagenes %}
                                        {% if imagen.servicio_id == servicio.servicio.id_servicio %}
                                            <img src="{{imagen.archivo}}" class="img-fluid rounded-start" alt="...">
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <div class="col-8">
                                    <div class="card-body">
                                        <!--badge-->
                                        <span class="badge bg-success ">Consulta Médica</span>
                                        <h5 class="card-title pt-2">{{servicio.tipo_consulta.nombre}}</h5>
                                        <p class="card-text">{{servicio.servicio.descripcion}}</p>
                                        <p class="card-text"><small class="text-muted">${{servicio.servicio.precio}}</small></p>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-none d-md-block">
            <div class="card" style="width: 35rem;">
                <img class="card-img-top" src="{% static 'img/consultorio.png' %}" alt="Card image cap" style="max-height:300px">
                <div class="card-body">
                  <h5 class="card-title">Nombre Servicio</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center><a href="#" class="btn btn-primary">Contáctanos</a></center>
                </div>
              </div>
        </div>
    </div>
</div>