{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}
{% endblock %}
<!--Titulo-->
{% block titulo %} Bitacora{% endblock %}
{% block content %}
<div class="container py-2 rounded">
    <div class="row g-0">
        <h2 class="fw-bold text-secondary">Bitacora Mensula de Examenes</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-3 w-100 justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'inicio_lab' %}">Laboratorio Clinico</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bitacora Mensual</li>
            </ol>
        </nav>
    </div>    
</div>

<div class="container">
    <div class="row g-0">
    
      <!--Navegación Entre Consultas y Examenes de Laboratorio-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Examenes de Laboratorio</button>  
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="consultaMedica" role="tabpanel" aria-labelledby="home-tab">
          <!--Tabla de pacientes en cola-->
          <div class="table-responsive">
            <table class="table table-bordered text-center bg-white">
              <thead class="table-secondary">
                <tr>                    
                  <th scope="col">Numero de Examen</th>
                  <th scope="col">Numero de Orden</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Sexo</th>    
                  <th scope="col">Edad</th>  
                  <th scope="col">Examen</th>            
                  <th scope="col">Fase</th>                                        
                  <th scope="col">Fecha</th>       
                  {% if rol == ROL_LIC_LABORATORIO %}               
                  <th scope="col">Elaborar<br/>Resultado</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody id="tabla_bitacora">
                
              </tbody>
          </table>
          </div>
          <div class="text-center">
            <div class="spinner-border text-primary" role="status" id="load">
                <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>

    </div>   
</div>
{% endblock %}
<!--Js de la vista-->
{% block js %}

<script>
$( "#side_bitacora" ).addClass( "active" );

$.ajax({
    url: "",
    type:"POST",
    headers: {
                  'X-CSRFToken': "{{csrf_token }}"
      }, data: {
      },
    success: function(data){ 
      $('#load').hide()
      if(data.info.length != 0){
        //Imprimiendo bitacora
        data.info.forEach(itemExamen => {
          $('#tabla_bitacora').append(`
          <tr>                    
            <td scope="col">${itemExamen.numero_cola_resultado}</td>
            <td scope="col">${itemExamen.numero_orden}</td>
            <td scope="col">${itemExamen.nombre}</td>
            <td scope="col">${itemExamen.apellidos}</td>
            <td scope="col">${itemExamen.sexo}</td>    
            <td scope="col">${itemExamen.edad}</td>  
            <td scope="col">${itemExamen.nombre_examen}</td>            
            <td scope="col">${itemExamen.fase_examen_lab}</td>                                        
            <td scope="col">${itemExamen.fecha}</td>                     
            <td scope="col">
              <a href="${itemExamen.url_resultado}" target="_blank">
                <div class="material-symbols-outlined btn btn-outline-primary">open_in_new</div>
              </a>
            </td>
          </tr>
          `)
        });
      }
      else{
        console.log("empa")
        $('#tabla_bitacora').append(
          `
          <tr><td colspan="100%">No se han realizado exámenes este mes.</td></tr>
          `
        );
      }
      
    }
  });

</script>

{% endblock %}