{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Sala de Espera Laboratorio{% endblock %}
{% block content %}
<div class="container py-2 rounded">
  <div class="row g-0">
    <h2 class="fw-bold text-secondary">Sala de Espera</h2>
    <div class="col-12 col-md-12">
      <!--Busqueda por Apellidos-->
      <div class="input-group  py-4">
          <span class="input-group-text bg-white" id="basic-addon1">
            <span class="material-symbols-outlined btn-sm" id="search_voff">face</span>
          </span>
          <input type="text" class="form-control" id="id_apellido_paciente" placeholder="Apellidos" aria-label="Nombres" aria-describedby="basic-addon1">
          
          <span class="input-group-text bg-white" id="filtro_buscar">
            <span class="material-symbols-outlined btn btn-sm" id="" data-bs-toggle="modal" data-bs-target="#busquedaPacienteModal">search</span>
          </span>
      </div>
      </div>
    </div>
    <!--Boton abregar nuevo -->
    <div class="col-lg-12 pb-3 text-end">
      <div class="text-end">
        <a href="{% url 'crear_expediente'%}" class="btn btn-outline-secondary" id="buscar-nombre" >Abrir Expediente Nuevo</a>
      </div>
    </div>
  </div>

</div>
<div class="container">
    <div class="row g-0">
    
      <!--Navegación Entre Consultas y Examenes de Laboratorio-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{% url 'sala_consulta' %}" id="profile-tab" >Consulta Medica</a>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Examenes de Laboratorio</button>  
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="consultaMedica" role="tabpanel" aria-labelledby="home-tab">
          <!--Tabla de pacientes en cola-->
          <div class="table-responsive">
            <table class="table table-bordered text-center bg-white">
                <thead class="table-secondary">
                  <tr>                    
                    <th scope="col">Número<br/>Cola</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>          
                    <th scope="col">Fase</th>                                        
                    <th scope="col">Fecha</th>    
                    <th scope="col">Estado<br/>de Pago</th>
                    <th scope="col">Ver<br/>Orden</th> 
                  </tr>
                </thead>
                <tbody id="tabla_cola">
                  
                </tbody>
            </table>
          </div>
        </div>
     
      </div>


      <!--Modal Datos del Paciente-->
      <div class="modal fade" id="busquedaPacienteModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Paciente a Cola</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!--Tabla de pacientes buscados-->
                <div class="table-responsive" id="tabla_busqueda">
                  <table class="table table-bordered text-center">
                    <thead class="table-secondary">
                      <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Fecha Nacimiento</td>
                          <th>Sexo</th>
                          <th>Direccion</th>
                          <th>Email</th>
                          <th>Responsable</th>
                          <th>Agregar Examen</th>
                        </tr>
                    </thead>
                    <tbody  id="datos_pacientes">
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>   
</div>

{% endblock %}
<!--Js de la vista-->
{% block js %}
<script src="{% static 'js/laboratorioBusqueda.js' %}"></script>
<script>
    let tabla_examenes_cola_pendientes=document.getElementById("tabla_cola");
    const tipo='cola_ordenes';
    let ws_scheme=window.location.protocol=='https:'?"wss":"ws";
    let socket_url=`${ws_scheme}://${window.location.host}/ws/laboratorio/cola/${tipo}`;
    const colaLaboratorioSocket=new WebSocket(socket_url);
    function sync_orden(){
      colaLaboratorioSocket.send(JSON.stringify({
                'message':'sync',
                'tipo':tipo
                }));
    }
    {% comment %} colaLaboratorioSocket.onopen =function() {
        sync_orden();
    } {% endcomment %}
    colaLaboratorioSocket.onmessage=(message)=>{
      let data=JSON.parse(message.data);
      tabla_examenes_cola_pendientes.innerHTML=null; 

      if(data.type=='warning'){
        toastr[data.type](`${data.data}`);      
        tabla.insertAdjacentHTML("beforeend", `<tr colspan="9" ><td colspan="9" style="text-align:center">${data.data}</td></tr>`);
      }else{
        data.data.forEach(examenItem => {
          console.log(examenItem);
        //Recorre los elemntos del objeto
        let elemento='<tr>';
        const nodeFila = document.createElement("tr");
        for (const property in examenItem) {
            /**
             * Si es lic de lab entonces se recive una url que redirige a la elaboracion de resultados, si es secretaria entonces le envia el el id_expediente y el id_resultados
             * ya que la combinacion de estos es la key primary de espera examen
            */
            if(property!='id_expediente' && property!='url_orden_examenes'){
            /** 
             * desplegando cada atributo del examen en una columna que luego es agregada a una fila
             * que es agregada a la tabla luego de agregar el boton de cambiar fase o elaborar 
             * resultados de examen
             */
              const nodeColumna = document.createElement("td");
              const textnode = document.createTextNode(`${examenItem[property]}`);
              nodeColumna.appendChild(textnode);
              nodeFila.appendChild(nodeColumna);
              
          }
          
        }
        /**
         * Agregando el boton de cambiar fase o elaborar resultados de examen
        */
        let nodeColumna = document.createElement("td");
        nodeColumna.innerHTML=`<a target="_blank"
                              class="material-symbols-outlined btn btn-outline-primary"
                              href="${examenItem['url_orden_examenes']}" >open_in_new</a>`;
        
        nodeFila.appendChild(nodeColumna);      
        tabla_examenes_cola_pendientes.appendChild(nodeFila);            
        });
      }

    }
</script>
<script>
$( "#side_laboratorio" ).addClass( "active" );
const url = "{% url 'autocompletado_apellidos' %}";
const urlFiltro = "{% url 'busqueda_paciente' %}";
const complementoConsulta = "?apellido_paciente=";
const id_component="id_apellido_paciente";
const id_modal="AgregarCola";
const tablaResultado = "datos_pacientes"; //El id de una tabal en la que saldran los resultados
const tablaColaConsulta="tabla_cola";

const url_consulta="{% url 'get_contieneConsulta' %}"
let tablaCola=document.getElementById(tablaColaConsulta);
let tablaData=document.getElementById(tablaResultado);

let cargando=false;
    
 //Al presionar la lupa
document.getElementById("filtro_buscar").addEventListener("click",function(){
  getDatosFiltrados(tablaData, id_component,urlFiltro, complementoConsulta);
});
//Invocando Funciones
getAutocompletado(url, id_component, tablaResultado, urlFiltro, complementoConsulta, tablaData, id_modal);

function accionServer(id, accion){
      let url_accion="";
      switch (accion){
        case 2:
          url_accion="/laboratorio/examen/";
          url_agregar_cola=url_accion+id;
          metodo="GET";
          break;
      }

      $.ajax({
        url: url_consulta,
                url: url_agregar_cola,
                type:metodo,
                dataType: "json",
                data: {
                  
                },
                success: function(data){ 
                  switch(data.accion){
                    case 2:
                      $('#selectExamen').fadeIn(1000).html(data);
                      let selectExamen=document.getElementById('selectExamen');
                      selectExamen.innerHTML=null
                      let elemento=""
                      data.data.map((x)=>{
                        elemento= elemento+'<option value="'+x.id_examen+'">'+x.nombre_examen+'</option>';
                      });
                      selectExamen.insertAdjacentHTML("beforeend", elemento);
                      break;
                  }           
                }
      });

    }
</script>

{% endblock %}