{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Examenes Pendientes {% endblock %}
{% block content %}
<div class="container py-2 rounded">
    <div class="row g-0">
        <h2 class="fw-bold text-secondary">Examenes Pendientes</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="{% url 'inicio_lab' %}">Laboratorio Clinico</a></li>
                <li class="breadcrumb-item active" aria-current="page">Examenes Pendientes</li>
            </ol>
        </nav>
    </div>    
</div>

</div>
<div class="container">
    <div class="row g-0">
    
      <!--Navegación Entre Consultas y Examenes de Laboratorio-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if rol == ROL_LIC_LABORATORIO %}
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Examenes Pendientes</button>  
        </li>
        {% elif rol == ROL_SECRETARIA  %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="{% url 'sala_consulta' %}" id="profile-tab" >Consulta Medica</a>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#consultaMedica" type="button" role="tab" aria-controls="home" aria-selected="true">Examenes de Laboratorio</button>  
        </li>
        {% endif %}
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="consultaMedica" role="tabpanel" aria-labelledby="home-tab">
        <!--Tabla de examenes Pendientes--> 
          <div class="table-responsive">
            <table class="table table-bordered text-center bg-white">
                <thead class="table-secondary">
                  <tr>                    
                    <th scope="col">Numero Cola</th>
                    <th scope="col">Numero Examen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Sexo</th>    
                    <th scope="col">Edad</th>  
                    <th scope="col">Examen</th>            
                    <th scope="col">Fase</th>                                        
                    <th scope="col">Fecha</th>    
                    <th scope="col">Cambiar<br/>Fase</th>     
                    {% if rol == ROL_LIC_LABORATORIO %}               
                    <th scope="col">Elaborar<br/>Resultado</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="tabla_cola_pendientes">
                  
                </tbody>
            </table>
          </div>  
          <div class="text-center">
          <div class="spinner-border text-primary" role="status" id="load">
              <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
    </div>   
</div>
{% endblock %}
<!--Js de la vista-->
{% block js %}
<script>
  $( "#side_laboratorio" ).addClass( "active" );
  const url = "{% url 'autocompletado_apellidos' %}";
  const urlFiltro = "{% url 'busqueda_paciente' %}";
  const complementoConsulta = "?apellido_paciente=";
  const id_component="id_apellido_paciente";
  const id_modal="AgregarCola";
  const tablaResultado = "datos_pacientes"; //El id de una tabal en la que saldran los resultados
  const tablaColaConsulta="tabla_cola_pendientes";

  const url_consulta="{% url 'get_contieneConsulta' %}"
  let tablaCola=document.getElementById(tablaColaConsulta);
  let tablaData=document.getElementById(tablaResultado);

  let cargando=false;
  let tabla_examenes_cola_pendientes=document.getElementById("tabla_cola_pendientes");

  // let tabla;
  let ws_scheme=window.location.protocol=='https:'?"wss":"ws";
  let socket_url=`${ws_scheme}://${window.location.host}/ws/laboratorio/cola/`;
  const colaLaboratorioSocket=new WebSocket(socket_url);
  function sync_orden(){
    colaLaboratorioSocket.send(JSON.stringify({
              'message':'sync',
              'tipo':'cola_de_resultados'
              }));
  }
  colaLaboratorioSocket.onopen =function() {
      sync_orden();
  }
  colaLaboratorioSocket.onmessage=(message)=>{
    $('#load').hide();
    let data=JSON.parse(message.data);
    tabla_examenes_cola_pendientes.innerHTML=null; 

    if(data.type=='warning'){
      toastr[data.type](`${data.data}`);
      {% if rol == ROL_LIC_LABORATORIO %}
      tabla.insertAdjacentHTML("beforeend", `<tr colspan="10" ><td colspan="10" style="text-align:center">${data.data}</td></tr>`);
      {% elif rol == ROL_SECRETARIA %}
      tabla.insertAdjacentHTML("beforeend", `<tr colspan="9" ><td colspan="9" style="text-align:center">${data.data}</td></tr>`);
      {% endif %}
    }else{
      data.data.forEach(examenItem => {
      //Recorre los elemntos del objeto
      let elemento='<tr>';
      const nodeFila = document.createElement("tr");
      for (const property in examenItem) {
          /**
            * Si es lic de lab entonces se recive una url que redirige a la elaboracion de resultados, si es secretaria entonces le envia el el id_expediente y el id_resultados
            * ya que la combinacion de estos es la key primary de espera examen
          */
        {% if rol == ROL_LIC_LABORATORIO %}
          if(property!='url_resultado'&& property!='id_resultado' && property!='id_expediente'){
        {% elif rol == ROL_SECRETARIA %}
          if(property!='id_resultado' && property!='id_expediente' && property!='url_resultado_pdf'){
        {% endif %}
          /** 
            * desplegando cada atributo del examen en una columna que luego es agregada a una fila
            * que es agregada a la tabla luego de agregar el boton de cambiar fase o elaborar 
            * resultados de examen
            */
            const nodeColumna = document.createElement("td");
            const textnode = document.createTextNode(`${examenItem[property]}`);
            nodeColumna.appendChild(textnode);
            nodeFila.appendChild(nodeColumna);
            
        }
        
      }
      /**
        * Agregando el boton de cambiar fase o elaborar resultados de examen
      */
      let nodeColumna = document.createElement("td");
      nodeColumna.innerHTML=`<div 
                            class="material-symbols-outlined btn btn-outline-primary"
                            onclick="cambiar_fase(${examenItem['id_resultado']},${examenItem['id_expediente']})">done</div>`;
      nodeFila.appendChild(nodeColumna);
      nodeColumna = document.createElement("td");
      nodeColumna.innerHTML=`<a href="${examenItem['url_resultado']}" target="_blank"><div class="material-symbols-outlined btn btn-outline-primary">open_in_new</div></a>`;

    
      nodeFila.appendChild(nodeColumna);      
      tabla_examenes_cola_pendientes.appendChild(nodeFila);            
      });
    }

  } 
 
function cambiar_fase(id_resultado,id_expediente) {
  $.ajax({
    url: url_consulta,
    {% if rol == ROL_LIC_LABORATORIO %}
    url: "{% url 'cambiar_fase_laboratorio' %}",
    {% else %}
    url: "{% url 'cambiar_fase_secretaria' %}",
    {% endif %}
    type:"POST",
    dataType: "json",
    headers: {
                  'X-CSRFToken': "{{csrf_token }}"
      }, data: {
        'id_expediente':id_expediente,
        'id_resultado':id_resultado
      },
    success: function(data){ 
      toastr[data.type](`${data.data}`);
      sync_orden();
    }
  });
}

function accionServer(id, accion){
      let url_accion="";
      switch (accion){
        case 2:
          url_accion="/laboratorio/examen/";
          url_agregar_cola=url_accion+id;
          metodo="GET";
          break;
      }

      $.ajax({
        url: url_consulta,
                url: url_agregar_cola,
                type:metodo,
                dataType: "json",
                data: {
                  
                },
                success: function(data){ 
                  switch(data.accion){
                    case 2:
                      $('#selectExamen').fadeIn(1000).html(data);
                      let selectExamen=document.getElementById('selectExamen');
                      selectExamen.innerHTML=null
                      let elemento=""
                      data.data.map((x)=>{
                        elemento= elemento+'<option value="'+x.id_examen+'">'+x.nombre_examen+'</option>';
                      });
                      selectExamen.insertAdjacentHTML("beforeend", elemento);
                      break;
                  }           
                }
      });

    }
</script>
{% endblock %}