{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Sala de Espera Laboratorio{% endblock %}
{% block content %}

        <form action="" method="post" id="form">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                {{form.nombre_parametro.value}}
                {{form.dato}}
                {{form.unidad_parametro.value}}
                <input type="hidden" name="id_parametro" value="{{form.id_parametro.value}}">
                <br/>
                {% endfor %}
                <button type="submit">guardar</button>
        </form>
        <script>
                $("form").on("submit", function(event){
                        event.preventDefault();
                
                        var formValues= $(this).serialize();
                
                        $.post('{{request.path}}', formValues, function(data){
                                toastr[data.type](`${data.data}`);
                        });
                });
        </script>
        
{% endblock %}