<div class="tab-pane fade" id="nav-documentos" role="tabpanel" aria-labelledby="nav-documentos-tab">
        <div class="pt-4">
            <div class="accordion" id="accordionDocumentos">
                <!--Receta Medica-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#documento-receta" 
                            aria-expanded="true" 
                            aria-controls="collapseOne">
                            Receta Medica
                            </button>
                    </h2>
                    <!--Receta Body-->
                    <div id="documento-receta" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary w-0 my-1"  
                                    data-bs-toggle="modal" 
                                    data-bs-target="#agregarReceta">Agregar Receta Medica</a>
                                    <a href="receta-medica/pdf" 
                                    class="btn btn-outline-primary w-0 my-1">Descargar Receta Medica</a>
                                </div>
                        </div>
                    </div><!-- fin Receta Body-->
                </div>
                <!--Referencia Medica-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button" 
                            type="button" data-bs-toggle="collapse" 
                            data-bs-target="#documento-referencia" 
                            aria-expanded="true" 
                            aria-controls="documento-referencia">
                            Referencia Médica
                            </button>
                    </h2>
                  <!--Referencia Body-->
                  {% include './referencia_medica.html' with referencias=referencias%}
                </div>
                <!--Constancia Medica-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#documento-constancia" aria-expanded="true" aria-controls="collapseThree">
                      Constancia Médica
                    </button>
                  </h2>
                  <!--Constancia Body-->
                  {% include './constancia.html' with constancias_medicas=constancias_medicas%}

                </div>
            </div>
        </div>
</div>