.img-carrusel{
    object-fit: cover;
    opacity: 0.70;
    height: auto;
    max-height: 90vh;
    min-height: 60vh;
}
.bg-card-custom{
  color: #0c63e4;
  background-color: #E7F1FF;
}
.btn-outline-primary{
    color: #0d6efd;
    border-color: #0d6efd;
    background-color: white;
}
.container-custom {

    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }

.card-custom {
    display: flex;
    height: auto;
    width: auto;
    background-color: rgb(239, 245, 255);
    border-radius: 10px;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card-custom:not(:first-child) {
      margin-left: -50px;
  }
  
  .img-card{
    object-fit: cover;
    max-height: 300px;
    max-width: 300px;
  }

  .card-custom:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 0rem 0 2rem rgb(170, 163, 163);
  }
  
  .card-custom:hover ~ .card-custom {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .card-text{
    text-align:justify;
  }
  
  .title-c {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #1B2C51;
  }
  
  
  .emptybar-c {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar-c {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card-custom:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card-custom:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .bg-footer{
    background: rgb(106, 186, 226);
    background: linear-gradient(180deg, rgb(37, 157, 218) 0%, rgb(64, 137, 255) 100%);
  }
  /*Material icosn*/
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
  