{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Constancia Medica {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Constancia Médica</h3>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'buscar_expediente' %}">Expediente</a></li>
						<li class="breadcrumb-item"><a href="{% url 'editar_consulta' id_consulta=id_consulta %}">{{paciente.nombre_paciente}}</a></li>
						<li class="breadcrumb-item active" aria-current="page">Referencia Médica</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header alert-primary text-primary" aria-expanded="true">
			<div class="px-1 py-2">
				Referencia Médica
			</div>
		</div>
		<div class="card-body">
			<form method="post" id="referencia-medica">
				<label class="form-label fw-bold text-secondary" for="nombre-paciente">Nombre del paciente:</label>
				<input type="text" class="form-control" value="{{ paciente.nombre_paciente }} {{paciente.apellido_paciente}}" disabled>
				<p></p>
				<label class="form-label fw-bold text-secondary" for="edad-paciente">Edad del paciente:</label>
				<input type="text" class="form-control" value="{{ edad.years }} años" disabled>
				<p></p>
				{% csrf_token %}
				{% for field in form %}
				<label class="form-label fw-bold text-secondary" for="{{ field.auto_id }}">{{ field.label }}:</label>
				{{ field }}
				<p></p>
				{% endfor %}
				<div class="text-end pt-4">
					<input class="btn btn-outline-primary" type="submit" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>    

<script>
        {% if update %}
        $('#constancia-medica').submit(function (event) {
                event.preventDefault();
                $.ajax({
                type: 'POST',
                url: $("form").attr("action"),
                data: $("form").serialize(), 
                success: function(response) { 
                        toastr[response.type](response.data); 
                },
                });
        });
        {% endif %}
</script>
{% endblock %}