{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <title>PDF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <header>
    <div class="box">
      <img src="{% static 'img/encabezado.png' %}"  alt=""/>
    </div>
  </header>
  <body>
    <center><h2>A quien corresponda</h2></center><br>
    
    <p>
      Por este medio hago constar que este día consultó en esta clínica el (la)<br>
      Paciente: <b>{{paciente.nombre_paciente}} {{paciente.apellido_paciente}}</b> de <b>{{edad.years}}</b> años y se le diagnosticó:
      {% for c in constanciamedica %}
          <a><b>{{c.diagnostico_constancia}},</b></a>
      {% endfor %}
      
      Por lo que se incapacita por <b>{{constanciamedica.dias_reposo}}</b> dia(s).<br>
      Se presentó en compañía de:<b></b>
    </p>
    <p>Y para los usos que el portador(a) estime conveniente se extiende la presente constancia el dia <b>{{constanciamedica.fecha_de_emision}}</b></p><br><br><br>
    <center>
      <p>F:________________________</p>
      <p>{{nombre}}</p>
      <p>J.V.P.M   N.{{jvmp}} </p>
    </center>
</html>


<style>
  @page {
    margin: 2.50cm;
    margin-left: 2.25cm;
    margin-right: 2.25cm;
  }
  body{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#171E31;
  }
  .box {
    border: #243F60 3px solid;
    margin: 10px;
    padding: 5px;
    border-radius:25px;
    text-align: center;
    padding-bottom: 5px;
  }
</style>    