<!doctype html>
<html lang="es">
  <head>
    <title>PDF</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Constancia Médica</h1>
    <i>A quien interese:</i>
    <p>
      Por medio de la presente, yo doctor en medicina general, {{empleado.nombres}} con J.V.P.M. N. {{empleado.jvpm}}; doy fe de haber conocido Y tratado 
      durante varios años al paciente {{paciente.nombre_paciente}} de {{edad.years}} años, quien presentaba los 
      siguientes diagnósticos:
    </p>
    <ol>
      <li>XXXX</li>
      <li>XXXX</li>
      <li>XXXX</li>
      <li>XXXX</li>
    </ol>
    <p>Por lo cual se extiende la presente el día {{fecha.date}}</p><br><br><br>
    <p>F:________________________</p>
    <p>{{empleado.nombres}}</p>
    <p>J.V.P.M   N.{{empleado.jvpm}} </p>
</html>


<style>
  @page {
    margin: 2.50cm;
    margin-left: 2.25cm;
    margin-right: 2.25cm;
  }
  body i{
    font-size: 20px;
    font-style: italic;
  }
</style>    