<div class="tab-pane fade" id="nav-control" role="tabpanel" aria-labelledby="nav-control-tab">
        <div class="pt-4">
            <div class="card"> 
                <div class="card-header alert alert-primary text-primary">
                    Control Subsecuente
                </div>
                <div class="card-body">
                    <div class="mv-3">
                        {% comment %} <form id="control_subsecuente_form" action="{% url 'control-subsecuente-create' id_consulta=id_consulta %}" method="post">
                            {% csrf_token %}
                            {{control_subsecuente_form}}
                            <button type="submit" class="btn btn-outline-primary mt-1">Agregar</button>
                        </form> {% endcomment %}
                        
                    </div>
                    <div id="lista-control-subsecuente" class="row row-cols-1 row-cols-md-2 mt-3"></div>
                </div>
            </div>
        </div>
</div>