{% extends "base.html" %}
{% load static %}
<!--Css del template-->
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Servicios de Laboratorio Clínico{% endblock %}
{% block content %}
<div class="container py-4">
	<div class="row">
		<div class="col-6">
			<h3 class="fw-bold text-secondary pb-4">Eliminar Servicio Médico</h3>
		</div>
		{% comment %} <div class="col-6">
			<div class="d-flex justify-content-end">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb pt-3">
						<li class="breadcrumb-item"><a href="{% url 'inicio_publicidad' %}">Publicidad</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'clinica_publicidad' %}">Publicidad</a></li>
						<li class="breadcrumb-item active" aria-current="page">Nueva Promoción</li>
					</ol>
				</nav>
			</div>
		</div> {% endcomment %}
	</div>
	<div class='row'>
        <form method="post" class="text-center">{% csrf_token %}
            <p>¿Seguro que desea eliminar el servicio médico "{{ object.nombre }}"?</p>
            {{ form }}

            <a href="{% url 'lista_servicios_laboratorio'%}" class="btn btn-secondary">Regresar</a>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
    </div>
</div>    
{% endblock %}