{% extends "baseControl.html" %}
{% load static %}
<!--Css del template-->
{% block css %}
<style>
    .ui-autocomplete { z-index:2147483647; }
    .bg-card-custom{
        color: #0c63e4;
        background-color: #E7F1FF;
    }
</style>
{% endblock %}
<!--Titulo-->
{% block titulo %} Consulta {% endblock %}
{% block content %}

<div class="container py-3">
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold text-secondary">Consulta</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3">
                        <li class="breadcrumb-item"><a href="{% url 'sala_consulta' %}">Expediente</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Consulta {{paciente.nombre_paciente}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!--Navegación Pestañas-->
    {% include './nav.html' %}
    <div class="tab-content " id="nav-tabContent">
        <!--Historial Clinico-->
        <div class="tab-pane fade show active" id="nav-historial" role="tabpanel" aria-labelledby="nav-historial-tab">
            <div class="row">
                <!--Datos del paciente-->
                <div class="col-md-12 col-lg-4">
                    <!--Datos Basicos-->
                    <div class="py-4">
                        <div class="accordion" id="accordionDocumentos">
                            <!--Datos del Paciente-->
                            <div class="accordion-item">
                                <button class="card-header accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#datos-paciente-acordion" aria-expanded="true" aria-controls="collapseThree">
                                    Datos del Paciente
                                </button>
                              <!--Datos del Paciente Body-->
                              <div id="datos-paciente-acordion" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
                                <div class="accordion-body">
                                    <table class="table table-borderless">
                                        <tbody>
                                          <tr>
                                            <th>Nombre: </th>
                                            <td>{{ paciente.nombre_paciente }} </td>
                                          </tr>
                                          <tr>
                                            <th>Apellido: </th>
                                            <td>{{ paciente.apellido_paciente }} </td>
                                          </tr>
                                          <tr>
                                            <th>Edad:</th>
                                            <td>{{ edad.years }} años</td>
                                          </tr>
                                          <tr>
                                            <th>Email:</th>
                                            <td>{{ paciente.email_paciente }}</td>
                                          </tr>
                                          <tr>
                                            <th>Responsable:</th>
                                            <td>{{ paciente.responsable }}</td>
                                          </tr>                                       
                                        </tbody>
                                    </table>
                                    <!--Acceso a documentos externos-->
                                    <div class="text-end">   
                                        <a href="agregar-documento-externo/" class="btn btn-outline-primary" target="_blank">Ver Exámenes Externos</a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!--Antecedentes-->
                            <div class="accordion-item">
                                <button class="card-header accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#antecedentes-acordion" aria-expanded="true" aria-controls="collapseThree">
                                    Antecedentes
                                </button>
                                <!--Datos del Paciente Body-->
                                <div id="antecedentes-acordion" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
                                    <div class="accordion-body">
                                        <div id="antecedentes-data">
                                            <p class="fw-bold">Antecedentes Personales</p>
                                            <p>{{ antecedentes_form.antecedentes_personales.value }}</p>
                                            <p class="fw-bold">Antecedentes Familiares</p>
                                            <p>{{ antecedentes_form.antecedentes_familiares.value }}</p>
                                        </div>
                                        <div class="text-end">
                                            <button type="button" class="btn btn-outline-primary material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#antecedentes_expediente">
                                                edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Signos Vitales-->
                            <div class="accordion-item">
                                <button class="card-header accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#signos-vitales-acordion" aria-expanded="true" aria-controls="collapseThree">
                                    Signos Vitales
                                </button>
                                <!--Signos Vitales Body-->
                                <div id="signos-vitales-acordion" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
                                    <div class="accordion-body">
                                        {% include './signos_vitales.html' with signos_vitales=signos_vitales %}
                                        <div class="text-end pt-4">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_agregar_signos_vitales">
                                                <span style="position: relative;bottom: 5px;">Tomar Signos Vitales</span>
                                                <i class="material-symbols-outlined">heart_plus</i>
                                            </button>                            
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </div> 
                </div>
                <!--Consulta-->
                <div class="col-md-12 col-lg-8">
                    <!--Datos Consulta-->
                    <div class="col-12 py-4">
                        <div class="card">
                            <div class="card-header bg-card-custom accordion-header py-3">
                                Formulario de Consulta
                            </div>
                            <div class="card-body">
                                <form  method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {% for field in consulta_form %}
                                        <label class="form-label py-2 fw-bold text-secondary" for="{{ field.auto_id }}">{{ field.label }}:</label>
                                        {{ field }}
                                    {% endfor %}
                                    
                                    <!--Botones-->
                                    <div class="row pt-3">
                                        <div class="col-md-12 col-lg-4">
                                            <input type="submit" class="btn btn-outline-success "  value="Guardar">
                                        </div>
                                        <div class="col-md-12 col-lg-8 text-end">
                                            <button type="button"class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#modal_agregar_cita">Programar Cita</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>                   
                </div>
            </div>
        </div>
        <!--Control Subsecuente-->
        <div class="tab-pane fade" id="nav-control" role="tabpanel" aria-labelledby="nav-control-tab">
            <div class="pt-4">
                <div class="card"> 
                    {% include './control_subsecuente.html' %}
                </div>
            </div>
        </div>
        <!--Hoja de Evoluación-->
        <div class="tab-pane fade" id="nav-evolucion" role="tabpanel" aria-labelledby="nav-evolucion-tab">
            <div class="pt-4">
                <div class="card"> 
                    <div class="card-header alert alert-primary text-primary">
                        Hoja de Evolución
                    </div>
                    <div class="card-body">
                        <div class="mv-3">
                            <form id="hoja-evolucion-form" action="{% url 'hoja-evolucion-create' id_consulta=id_consulta %}" method="post">
                                {% csrf_token %}
                                {{hoja_evolucion_form}}
                                <button type="submit" class="btn btn-outline-primary mt-1">Agregar</button>
                            </form>
                            
                        </div>
                        <div id="lista-hoja-evolucion" class="row row-cols-1 row-cols-md-2 mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Documentos-->
        <div class="tab-pane fade" id="nav-documentos" role="tabpanel" aria-labelledby="nav-documentos-tab">
            <div class="pt-4">
                {% include './documentos.html' %}
            </div>
        </div>
    </div>

    

    <!--Modal Agregar medicamento  DC-61 -->
    <div class="modal" tabindex="-1" id="agregarReceta"  aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Receta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <!--Sección de busqueda de medicamentos-->
                        <div class="row">
                            <div class="col-6">
                                <p class="fw-bold text-secondary">Busqueda de Medicamentos</p>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% url 'agregar_nuevo_medicamento' %}" class="btn btn-outline-primary">Registrar Medicamento Nuevo</a>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text bg-white" id="basic-addon1">
                                        <span class="material-symbols-outlined btn-sm" id="search_voff">medication_liquid</span>
                                        </span>
                                        <input type="text" class="form-control" id="id_nombre_medicamento" placeholder="Buscar Medicamentos" aria-label="Nombres" aria-describedby="basic-addon1">
                                        
                                        <span class="input-group-text bg-white" id="filtro_buscar">
                                        <span class="material-symbols-outlined btn btn-sm" id="agregar_medicamento_receta" data-bs-toggle="modal" data-bs-target="#busquedaMedicamentoModal">search</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <p class="fw-bold text-secondary pt-2">Agregar Medicamento a Receta</p>
                            <hr class="dropdown-divider">
                            <!-- Formulario para agregar medicamento -->
                            <div class="col-md-12 col-lg-4">
                                <!--Medicamento-->
                                <div class="mb-3 mt-3">
                                    <label for="medicamento" class="form-label">Medicamento</label>
                                    {{dosis_form.medicamento}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <!--Cantidad-->
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="cantidad_dosis" class="form-label">Cantidad</label>
                                    {{dosis_form.cantidad_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="unidad_de_medida_dosis" class="form-label">Unidad de medida</label>
                                    {{dosis_form.unidad_de_medida_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <!--Frecuencia-->
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="id_frecuencia_dosis" class="form-label">Frecuencia</label>
                                    {{dosis_form.frecuencia_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="unidad_frecuencia_dosis" class="form-label">Unidad de Tiempo</label>
                                    {{dosis_form.unidad_frecuencia_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <!--Periodo-->
                            <div class="col-md-6 col-lg-4 d-none d-lg-block">
                                <div class="text-center py-5">
                                    <!--Spinner de caraga-->
                                    <div class="spinner-border text-primary" role="status" id="load">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="periodo_dosis" class="form-label">Periodo</label>
                                    {{dosis_form.periodo_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="mb-3 mt-3">
                                    <label for="unidad_periodo_dosis" class="form-label">Unidad de Tiempo</label>
                                    {{dosis_form.unidad_periodo_dosis}}
                                    <div id="emailHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <div class="mb-3 mt-3 text-end">
                                    <div class="d-none d-lg-block py-3">

                                    </div>
                                    <!--Boton de guardar-->
                                    <input type="submit" class="btn btn-outline-success " id="btn_agregar_a_receta" value="Agregar Medicamento">
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <!--Fin agregar medicamento-->

                            <!--Medicamentos agregados-->
                            <p class="fw-bold text-secondary pt-2">Medicamentos Agregados</p>
                            <div class="table-responsive" id="tabla_medicamentos_agregados">
                                <table class="table table-bordered text-center">
                                <thead class="table-secondary">
                                    <tr>
                                        <th>Medicamento</th>
                                        <th>Cantidad</th>
                                        <th>Presentación</td>
                                        <th>Frecuencia</td>
                                        <th>Periodo</td>
                                        <th>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody id="medicamentos_dosis">
                                <!--Datos del server -- dosis -- -->
                                    {% for medicamento in dosis %}
                                    <tr>
                                        <td>{{ medicamento.medicamento }}</td>
                                        <td>{{ medicamento.cantidad_dosis }}</td>
                                        <td>{{ medicamento.unidad_de_medida_dosis }}</td>
                                        <td>{{ medicamento.frecuencia_dosis }} - {{ medicamento.get_unidad_frecuencia_dosis_display }}</td>
                                        <td>{{ medicamento.periodo_dosis }} - {{ medicamento.get_unidad_periodo_dosis_display }}</td>
                                        <td><span onclick="eliminarDosis({{ medicamento.id_dosis }}, {{ medicamento.receta_medica.id_receta_medica }});" class="material-symbols-outlined btn btn-sm">delete</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>


                        </div>    <!--Fin medicamentos agregados-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal resultado de medicamentos-->
    <div class="modal fade" id="busquedaMedicamentoModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Medicamento</h5>
                    <button type="button" class="btn-close" aria-label="Cerrar" id="cerar_modal_busqueda_medicamento"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" id="tabla_busqueda">
                        <table class="table table-bordered text-center">
                            <thead class="table-secondary">
                                <tr>
                                    <th>id</th>
                                    <th>Nombre Comercial</th>
                                    <th>Nombre Generico</th>
                                    <th>Seleccionar</td>
                                </tr>
                            </thead>
                            <tbody  id="datos_pacientes">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Modal para agregar nuevos signos vitales -->
    <div class="modal fade" id="modal_agregar_signos_vitales" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class=" modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Toma de Signos Vitales</h5>
                </div>
                <form method='POST' action="{% url 'crear_signos_vitales' id_consulta=id_consulta %}">
                    <div class="modal-body form-group">
                        {% csrf_token %}
                        <div class='row'>
                            {{signos_vitales_form.valor_temperatura.label_tag}}
                            {{signos_vitales_form.valor_temperatura}}
                            {{signos_vitales_form.unidad_temperatura}}
                        </div>
                        <div class='row'>
                            {{signos_vitales_form.valor_peso.label_tag}}
                            {{signos_vitales_form.valor_peso}}
                            {{signos_vitales_form.unidad_peso}}
                        </div>
                        <div class='row'>
                            {{signos_vitales_form.valor_presion_arterial_diastolica.label_tag}}
                            {{signos_vitales_form.valor_presion_arterial_diastolica}}
                            {{signos_vitales_form.unidad_presion_arterial_diastolica}}
                        </div>
                        <div class='row'>
                            {{signos_vitales_form.valor_presion_arterial_sistolica.label_tag}}
                            {{signos_vitales_form.valor_presion_arterial_sistolica}}
                            {{signos_vitales_form.unidad_presion_arterial_sistolica}}
                        </div>
                        <div class='row'>
                            {{signos_vitales_form.valor_saturacion_oxigeno.label_tag}}
                            {{signos_vitales_form.valor_saturacion_oxigeno}}
                            {{signos_vitales_form.unidad_saturacion_oxigeno}}
                        </div>
                        <div class='row'>
                            {{signos_vitales_form.valor_frecuencia_cardiaca.label_tag}}
                            {{signos_vitales_form.valor_frecuencia_cardiaca}}
                            {{signos_vitales_form.unidad_frecuencia_cardiaca}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para confirmar eliminar nota de evolucion -->
    <div class="modal fade" id="modal-eliminar-nota-evolucion" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar</h5>
                    <button type="button" class="btn-close" aria-label="Cerrar" data-bs-dismiss="modal" id="cerar_modal_busqueda_medicamento"></button>
                </div>
                <div class="modal-body">
                    <p>Desea eliminar esta nota de Evolución?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-secondary" id="eliminar-nota-evolucion-btn" >Si</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para editar nota de evolucion -->
    <div class="modal fade" id="modal-editar-nota-evolucion" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class=" modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar</h5>
                    <button type="button" class="btn-close" aria-label="Cerrar" data-bs-dismiss="modal" id="cerar_modal_busqueda_medicamento"></button>
                </div>

                <form id="hoja-evolucion-form-update" action="{% url 'hoja-evolucion-update' id_consulta=id_consulta %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{hoja_evolucion_form}}
                        <input hidden type="text" name="id_evolucion" id="id_nota_evolucion_update">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-secondary" >Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Para antecedentes-->
    <div class="modal fade" id="antecedentes_expediente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Antecedentes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'antecedentes-update' id_expediente=id_expediente %}" method="post" id="antecedentes_form">
                    <div class="modal-body w-0">
                        <!-- aqui va formulario para antecedentes -->
                        {% csrf_token %}
                        {% for field in antecedentes_form %}
                            <label class="form-label fw-bold text-secondary" for="{{ field.auto_id }}">{{ field.label }}:</label>
                            {{ field }}
                            <p></p>
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                </form>
                
            </div>
        </div>
    </div>

    <!--Modal para Programar Citas-->
    <div class="modal fade" id="modal_agregar_cita" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'crear-cita-consulta' id_consulta=id_consulta id_expediente=id_expediente %}" id="form_crear_cita">
                    <div class="modal-body">
                        <!-- Formulario para agregar Cita -->
                    {% for field in cita_form %}
                        <label class="form-label fw-bold text-secondary" for="{{ field.auto_id }}">{{ field.label }}:</label>
                        {{ field }}
                        <p></p>
                    {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <div class="spinner-border text-primary" role="status" id="load-cita">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Agregar Cita" class="btn btn-outline-primary" id="btn_agregar_cita"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
                
</div>    
{% endblock %}
{% block js %}
<script src="{% static 'js/medicamentoBusqueda2.js' %}"></script>
<script>
    const url = "{% url 'agregar_medicamento_2' %}";
    const urlFiltro = "{% url 'agregar_medicamento' %}";
    const complementoConsulta = "?nombre_generico=";
    const id_component="id_nombre_medicamento";
    const id_modal="busquedaMedicamentoModal";
    const tablaResultado = "datos_pacientes";
    let url_agregar_a_receta="{% url 'agregar_dosis' %}"; 
    let tablaData=document.getElementById(tablaResultado);
    let id_receta_medica={{id_receta}};
    let nota_evolucion_a_eliminar="";  
    
    '{% for message in messages %}'
        '{% if message.tags %}'
        toastr[ '{{ message.tags }}' ]( '{{ message }}' );
        '{% endif %}'
    '{% endfor %}'
    {% include './js/antecedentes.js' %}
    {% include './js/cita_medica.js' %}
    {% include './js/hoja_evolucion.js' %}
    {% include './js/receta_medica.js' %}
    window.onload = (event) => {
        get_lista_notas_evolucion();
        $('.spinner-border').hide();
        getAutocompletado(url, id_component, tablaResultado, urlFiltro, complementoConsulta, tablaData, id_modal);
      };
</script>
{% endblock %}

