{% extends "baseControl.html" %}
{% block css %}

{% endblock %}
<!--Titulo-->
{% block titulo %} Control Subsecuente {% endblock %}
{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold text-secondary">Control Subsecuente</h2>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pt-3">
                        <li class="breadcrumb-item"><a href="{% url 'sala_consulta' %}">Expediente</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'editar_consulta' id_consulta=id_consulta %}">Consulta</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Control Subsecuente</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="accordion pt-4" id="accordion_control_subsecuente">
        {% for consulta in consultas %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button onclick="cargar_datos_consulta('{% url 'control-subsecuente-consulta-view' id_consulta=consulta.id_consulta %}','control-subsecuente-acordion-{{consulta.id_consulta}}');" class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#control-subsecuente-acordion-{{consulta.id_consulta}}" aria-expanded="false" aria-controls="control-subsecuente-acordion-{{consulta.id_consulta}}">

                                <div class="container">
                                    <div class="row justify-content-evenly">
                                        <div class="col-4">
                                            <div class=" fw-bold">
                                                <p>Diagnostico:</p>
                                                <p>{{ consulta.diagnostico}}</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class=" fw-bold">
                                                <p>Fecha: </p>
                                            </div>
                                            <div class="">
                                                <p>{{ consulta.fecha.date }}</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class=" fw-bold">
                                                <p>Hora: </p>
                                            </div>
                                            
                                            <div class="col">
                                                <p>{{ consulta.fecha.time }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                    </button>
                </h2>
                <div class="accordion-collapse ">
                    <div class="accordion-body collapse" id="control-subsecuente-acordion-{{consulta.id_consulta}}">
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status" id="load">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="d-flex justify-content-center h4"> No hay Consultas Previas</p>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <a  href="{% url 'editar_consulta' id_consulta=id_consulta %}" class="btn btn-secondary my-2">Regresar</a>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    {% include './js/control_subsecuente.js'  %}
</script>
{% endblock %}