{% load static %}
<div class="accordion-item">
        <button class="card-header accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#datos-paciente-acordion" aria-expanded="true" aria-controls="collapseThree">
                {% block titulo_boton %}{% endblock %}
        </button>
        <!--Acordeon Body-->
        <div id="datos-paciente-acordion" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
                <div class="accordion-body">
                        {% block body %}{% endblock %}
                </div>
        </div>
</div>