{% load static %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <!--Items-->
    <div class="carousel-inner bg-dark">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2017/09/06/20/36/doctor-2722943_960_720.jpg" class="d-block w-100 img-carrusel" alt="...">
        <div class="carousel-caption text-dark">
          <h5 class="fw-bold"><span class="badge bg-primary text-white">Consultorio</span></h5>
          <p class="fw-bold">Contamos con 6 años de trayectoria brindando nuestros servicios médicos a los Cojutepecanos, siendo su salud nuestra prioridad.</p>
          <div class="pt-3">
            <a href="{% url 'paginaClinica' %}" class="btn btn-outline-primary">Ver más</a>
            <a href="#footer" class="btn btn-primary">Contactanos</a>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2014/12/10/20/48/laboratory-563423_960_720.jpg" class="d-block w-100 img-carrusel" alt="..." height="450">
        <div class="carousel-caption">
          <h5 class="fw-bold"><span class="badge bg-primary text-white">Laboratorio</span></h5>
          <p class="fw-bold">
            Contamos con altos estándares de calidad, respaldados con la experiencia de nuestro personal, ofrecemos más de 120 prueba en 16 perfiles distintos.
          </p>
          <div class="pt-3">
            <a href="/laboratorio" class="btn btn-outline-primary">Ver más</a>
            <a href="#footer" class="btn btn-primary">Contactanos</a>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2016/11/08/05/29/surgery-1807541_960_720.jpg" class="d-block w-100 img-carrusel" alt="..." height="450">
        <div class="carousel-caption">
          <h5 class="fw-bold"><span class="badge bg-primary text-white">Laboratorio</span></h5>
          <p class="fw-bold">
            Contamos con altos estándares de calidad, respaldados con la experiencia de nuestro personal, ofrecemos más de 120 prueba en 16 perfiles distintos.
          </p>
          <div class="pt-3">
            <a href="/laboratorio" class="btn btn-outline-primary">Ver más</a>
            <a href="#footer" class="btn btn-primary">Contactanos</a>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>